@import url('https://fonts.googleapis.com/css2?family=Lora&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&family=Tinos&di');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&family=Pacifico&family=Tinos&display=swap');

.body {
    overflow: hidden;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #f5f8f7;
}
.logo1 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.hireBtn{
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials {
    z-index: 0;
}
.navList {
    padding: 1rem;
    border-bottom: 1;
    cursor: pointer;
    font-family: 'Lora', serif;
    color: #e7e7e7;
}

.navList span {
    font-size: 10px;
    color: #6b8b8c;
}

.navList:hover {
    border-bottom-width: 3px;
    border-color: #b3ccff;
}

.Container {
    height: 100vh;
    background-color: blue;
}


