@media (max-width: 425px) {
    .Body {
        padding: 0;
        height: auto;
    }
    .Body2 {
        flex-direction: column;
    }
    .Right,
    .Left {
        height: 100vh;
        padding: 1.5rem;
        width: 100vw;
    }
    .nameholder{
        width: 2rem;
    }
    .Greeting {
        font-size: 40px;
    }
    .nav {
        display: none;
    }
    .menu {
        display: block;
    }
    .social {
        margin-top: 2.7em!important;
        border: 0;
    }
    .connectBtn {
        padding: 0.3rem
    }
    .dropDown {
        height: 50%;
        width: 90%;
        margin-top: 2rem;
        z-index: 999;
    }
}
